{{#if decision}}
<table class="table table-bordered table-hover" id="unpickedTbl">
  <thead class="thead-light">
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    {{#each decision.others}}
    <tr scope="row" id="{{id}}">
      <td>{{priority}}</td>
      <td>{{description}}</td>
      <td>{{formatDate dueDate 'M-DD-YYYY h:mm A'}}</td>
      <td>{{{arrayToDelimitedList tags}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table class="table table-bordered table-hover" id="pickedTbl">
  <thead class="thead-light">
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    {{#each decision.pick3s}}
    <tr scope="row" id="{{id}}">
      <td>{{priority}}</td>
      <td>{{description}}</td>
      <td>{{formatDate dueDate 'M-DD-YYYY h:mm A'}}</td>
      <td>{{{arrayToDelimitedList tags}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<form action="/decisions" method="post" id="form1">
  <input type="hidden" name="top3s" id="top3s">
  <input type="hidden" name="others" id="others">
  <button class="btn btn-secondary btn-block" type="submit">Submit</button>
</form>
{{/if}}
{{#if tasks}}
<table class="table table-bordered table-hover" id="unpickedTbl">
  <thead class="thead-light">
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
    <tr scope="row" id="{{id}}">
      <td>{{priority}}</td>
      <td>{{description}}</td>
      <td>{{formatDate dueDate 'M-DD-YYYY h:mm A'}}</td>
      <td>{{{arrayToDelimitedList tags}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<table class="table table-bordered table-hover invisible" id="pickedTbl">
    <thead class="thead-light">
      <tr>
        <th scope="col">Priority</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form action="/decisions" method="post" id="form2">
  <input type="hidden" name="top3s" id="top3s">
  <input type="hidden" name="others" id="others">
  <button class="btn btn-secondary btn-block" type="submit">Submit</button>
</form>
{{else}}
You have no tasks. Good on you!
{{/if}}
<script>
  function togglePicked(rowId) {
    let row = $(`#${rowId}`)
    let parent = row.parent().parent()[0].id
    row.detach()
    let isPicked = parent === "pickedTbl"
    let moveTo = isPicked ? "unpickedTbl" : "pickedTbl"
    row.appendTo(`#${moveTo}>tbody`)
    if(isPicked) {
      let pickedText = $("#top3s").val()
      let unpickedText = $("#others").val()
      $("#top3s").val(pickedText.replace("|" + rowId, ''))
      $("#others").val(unpickedText + "|" + rowId)
    } else {
      let pickedText = $("#top3s").val()
      let unpickedText = $("#others").val()
      $("#others").val(pickedText.replace("|" + rowId, ''))
      $("#top3s").val(unpickedText + "|" + rowId)
    }
    if($("#pickedTbl>tbody").children().length > 0) {
      $("#pickedTbl").removeClass("invisible")
    } else if (!$("#pickedTbl").hasClass("invisible")) {
      $("#pickedTbl").addClass("invisible")
    }
  }
  $("tr").each((index, elem) => {
    if (elem.id) {
      if($(`#${elem.id}`).parent().parent()[0].id === "pickedTbl") {
        let pickedText = $("#top3s").val()
        $("#top3s").val(pickedText + "|" + elem.id)
      } else {
        let unpickedText = $("#others").val()
        $("#others").val(unpickedText + "|" + elem.id)
      }
      elem.addEventListener('click', () => {
        togglePicked(elem.id)
      })
    }
  })
</script>