<div class="container">
  <div class="form-row mb-2">
    <label for="description" class="col-10 col-form-label">Description</label>
    <label for="priority" class="col col-form-label">Priority</label>
  </div>
  <div class="form-row mb-4">
    <div class="col-10">
      <input type="text" name="description" class="form-control" value="{{task.description}}">
    </div>
    <div class="col">
      <input type="text" name="priority" class="form-control" value="{{task.priority}}">
    </div>
  </div>
  <div class="form-row mb-2">
    <label for="dueDate" class="col-10 col-form-label">Due Date</label>
    <label for="difficulty" class="col col-form-label">Difficulty</label>
  </div>
  <div class="form-row mb-4">
    <div class="col-10">
      <input type="datetime-local" name="dueDate" id="dueDate" class="form-control"
        value="{{formatDate task.dueDate 'YYYY-MM-DDTHH:mm:ss'}}">
    </div>
    <div class="col">
      <input type="text" name="difficulty" class="form-control" value="{{task.difficulty}}">
    </div>
  </div>
  <div class="form-row mb-2">
    <label for="repeatInterval" class="col col-form-label">Repeat Interval</label>
  </div>
  {{{ isoDurationToForm task.repeatInterval }}}
  <div class="form-row mb-2">
    <label for="tagList" class="col col-form-label">Tags</label>
  </div>
  <div class="form-row mb-4">
    <div class="col">
      <input type="text" name="tagList" class="form-control" value="{{arrayToDelimitedList task.tags}}">
    </div>
  </div>
  <div class="form-row mb-2">
    <label for="location" class="col col-form-label">Location</label>
  </div>
  <div class="form-row mb-4">
    <div class="col">
      <input type="text" name="location" class="form-control" value="{{task.location}}">
    </div>
  </div>
  <div class="form-row mb-2">
    <label for="notes" class="col col-form-label">Notes</label>
  </div>
  <div class="form-row mb-4">
    <div class="col">
      <textarea name="notes" class="form-control">{{task.notes}}</textarea>
    </div>
  </div>
</div>

<button type="submit" id="taskSubmit" class="btn btn-primary btn-block">Submit</button>